.banner {
    margin-top: 0;
    padding: 100px 0 0px 0;
  }
  .banner h1{
   background: -webkit-linear-gradient(rgb(130, 228, 233),rgb(25, 69, 71));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
  }
  .mains{
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .aligh-items-center{
    display: flex;
    flex-direction: row;
    padding: 3rem 6rem;
  }
  .firsti{
     width: 50%;
     
  }
  .firsti{
    width: 50%;
 }
  .headdd h1{
    color:white;
    padding: 15px 0px;
  }
.banner{
    min-height: 60vh;
  }
  .Aboutus{
    color: #FFFFFF;
    padding: 0% 5% 5% 5%; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: jost, sans-serif;
    line-height: 1.6;
   
    background-image: linear-gradient(-180deg, rgba(130, 228, 233, 0.5),rgba(25, 69, 71,0.5));
    margin: 0px 7% 30px 7%;
    border-radius: 20px;
    color:#c5c6c7;

  }
  .Aboutus h1{
    color:white;
  }
  .about{
    padding-bottom: 20px;
  }

.ecg-container {
  width: 500px;
  height: 200px;
  border: 1px solid #000;
  position: relative;
  overflow: hidden;
}

.ecg-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: red;
  animation: ecgAnimation 2s infinite linear;
}

@keyframes ecgAnimation {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}
  .secondi{
    width: 50%;
    background:cover;
    display: flex;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
   border-radius: 50%;
   transform: translateY(-60px);
  }
  .head{
    padding: 1rem 0rem;
    color: #c5c6c7;
  }
  .rewards{
    position: relative;
    margin: auto 6rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
  }

  .rewards .circle{
    position: absolute;
    top: -1rem;
    left: -1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    background: #52bfb6;

}
.rewards .circle h1{
  padding: 1.5rem 0.5rem 0;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 2rem;
    font-weight: 600;
}
.rewards .devider{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.15rem;
    border-radius: 2px;
    background:  #52bfb6;
}
.prizes .prize{
  width: 15rem;
    height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s ease-in-out;
}
.prizes h4{
  margin: 1rem auto;
    font-size: 1.3rem;
    font-weight: 500;
    color: #f0e9e9;
    text-align: center;
    letter-spacing: .4px;
}
.prize .Image{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.prizes{
  position: relative;
    margin: 2rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: #c5c6c7;
    font-family:  sans-serif;
}
  .banner h1 {
    color: white;
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
  }
  .banner p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
  }
  .banner button {
  margin-top: 40px;
  background-color: initial;
  background-image: linear-gradient(-180deg, rgb(80, 228, 236),rgb(25, 69, 71));
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 10px 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 50%;
  z-index: 9;
  font-size: 20px;
  border: 0;
  transition: box-shadow .2s;

}

button:hover {
  background-image: linear-gradient(-180deg, rgb(25, 69, 71),rgb(60, 154, 159));
  
}
  .banner img {
    width: 110%;
    height: 110%;
    /* rotate: ; */
    animation: updown 3s linear infinite;

  }
  @keyframes updown {
      0% {
          transform: translateY(-10px);
      }
      50% {
          transform: translateY(10px);
      }
      100% {
          transform: translateY(-10px);
          rotate:0deg;
      }
  }
   .txt-rotate > .wrap {
   color:#c5c6c7;
  } 
  @media(max-width:1000px)
  {
    .aligh-items-center{
      display: flex;
      flex-direction: column;
      padding: 3rem 3rem;
    }
    .banner button {
      width: 70%;
    }
    .firsti{
      width: 100%;
    }
    .secondi{
      width: 100%;
      transform: translateY(0px);
    }
    .banner h1{
      color:rgb(45, 183, 190);
      font-size: 50px;
    }
    .secondi img{
      height: 10px;
    }
    .secondi img {
      position: relative;
      width: 100%;
      height: 100%;
      animation: waveAnimation 7s linear infinite;
    }
    .rewards{
      margin: auto 3rem;
    }
  }
@keyframes waveAnimation {
  0% {
      transform:  scaleY(1) scaleX(1);
      
  }
  50% {
      transform:  scaleY(1.3) scaleX(1.3);
  
      
  }
  100% {
      transform:  scaleY(1) scaleX(1);
     
    }
}
@media (max-width:400px)
{
  .banner h1{
    font-size:40px;
  }
}
