 .centers{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
  }
  .rings{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    animation: ringgg 2s linear infinite;
  }
  @keyframes ringgg {
    0%{
      transform: rotate(0deg);
      box-shadow: 1px 5px 2px #721096;
    }
    50%{
      transform: rotate(180deg);
      box-shadow: 1px 5px 2px #075c7e;
    }
    100%{
      transform: rotate(360deg);
      box-shadow: 1px 5px 2px #0456c8;
    }
  }
  .Images{
    width: 200px;
    height: 200px;
  }
  .imgs{
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    max-width: 100%;
     height: auto;
    width: 400px;
    height: 400px;
  }
  .rings:before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(12, 4, 4, 0.3);
  }
  /* .centers span{
    color: #c1b6b6;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 200px;
    animation: textt 3s ease-in-out infinite;
  } */
  @keyframes textt {
    50%{
      color: rgb(92, 228, 201);
    }
  }