.LoginSignUpContainer {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../public/background.jpg');
  background-size: cover;
  background-position: center;

  position: fixed;
  top: 0%;
  left: 0;
}

.icon {
  position: absolute;
  left: 2.5rem;
  color: #999;
  font-size: 20px;
}

.eyeicon {
  position: absolute;
  right: 2rem;
  color: #999;
  font-size: 20px;
}

.eyesicon {
  position: absolute;
  right: 2rem;
  color: #999;
  font-size: 20px;
}

.LoginSignin {
  /* display: none; */
  position: absolute;
  background-color: rgba(192, 189, 189, 0.219);
  backdrop-filter: blur(2px);
  width: 30vw;
  height: 68vh;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.LoginSignin_login {
  position: absolute;
  background-color: rgba(192, 189, 189, 0.219);
  backdrop-filter: blur(2px);
  width: 30vw;
  height: 56vh;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.login_signup_toggel {
  display: flex;
  height: 5vmax;
}

.head {
  position: relative;

  border-bottom: 1px solid rgba(2, 13, 21, .322);
}

.login_signup_toggel>p {
  /* color: rgba(157, 214, 225, 0.678); */
  font: 800 1.9vmax "Roboto";
  transition: all 0.5s;
  cursor: pointer;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.login_signup_toggel>p:hover {
  color: rgb(49, 158, 236);
}

.LoginSignin>div>button {
  position: absolute;
  bottom: 0;
  background-color: rgb(47, 180, 182);
  height: 3px;
  width: 50%;
  border: none;
  transition: all 0.5s;
}

.LoginSignin_login>div>button {
  position: absolute;
  bottom: 0;
  background-color: rgb(47, 180, 182);
  height: 3px;
  width: 50%;
  border: none;
  transition: all 0.5s;
}

.loginForm,
.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 75%;
  transition: all 0.5s;
}

.loginForm>div,
.signUpForm>div {
  display: flex;
  width: 100%;
  align-items: center;
}

.loginForm>div>input,
.signUpForm>div>input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.267);
  border-radius: 4px;
  font: 300 1.5vmax cursive;
  outline: none;
}

.loginForm>a {
  color: rgba(0, 0, 0, 0.651);
  text-decoration: none;
  align-self: flex-end;
  transition: all 0.5s;
  font: 500 1vmax "Gill Sans";
}

.loginForm>a:hover {
  cursor: pointer;
  color: rgb(0, 85, 255);
}

.log {
  color: rgb(47, 180, 182);

}

.sign {
  color: rgb(71, 175, 255);
}

.loginBtn,
.signUpBtn {
  border: none;
  background-color: rgb(47, 180, 182);
  color: white;
  font: 300 1.4vmax "Roboto";
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 4px;
  outline: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
}

.loginBtn:hover,
.signUpBtn:hover {
  background-color: rgb(22, 126, 124);
}

.shiftToLeft {
  transform: translateX(-100%);
}

.shiftToNeutral {
  transform: translateX(0%);
}

.shiftToNeutralForm {
  transform: translateX(0%) translateY(-100%);
}

.shiftToRight {
  transform: translateX(100%);
}

#registerImage {
  display: flex;
  /* flex-direction: column; */
  gap: 30px;
}

#registerImage>img {
  width: 3.5vmax;
  height: 3.5vmax;
  border-radius: 50%;
}

#registerImage>input {
  display: flex;
  padding: 0%;
}

#registerImage>input::file-selector-button {
  cursor: pointer;
  width: 100%;
  z-index: 2;
  height: 5vh;
  border: none;
  margin: 0%;
  font: 400 0.8vmax cursive;
  transition: all 0.5s;
  padding: 0 1vmax;
  color: rgba(0, 0, 0, 0.623);
  background-color: rgb(255, 255, 255);
}

#registerImage>input::file-selector-button:hover {
  background-color: rgb(235, 235, 235);
}

.loginForm a {
  color: rgb(47, 180, 182);
}

@media screen and (max-width: 1000px) {
  .LoginSignin {
    width: 35vh;
    height: 55vh;
  }

  .LoginSignin_login {
    width: 40vh;
    height: 45vh;
  }

  .login_signup_toggel {
    height: 8vh;
  }

  .login_signup_toggel>p {
    font: 800 2.5vmax "Roboto";

  }

  .loginForm>div>input,
  .signUpForm>div>input {
    height: 40px;
    padding: 2vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 400 1.9vmax cursive;
    outline: none;
  }

  .loginBtn,
  .signUpBtn {
    height: 30px;
    border: none;
    background-color: rgb(47, 180, 182);
    color: white;
    font: 300 1.5vmax "Roboto";
    width: 100%;
    padding: 1.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  }

  .loginForm a {
    font-size: large;
  }

  .loginBtn,
  .signUpBtn {
    font-size: large;
    height: 45px;
  }

  .signUpForm>div>input {
    height: 40px;
  }

  #registerImage {
    display: flex;
    gap: 20px;
  }

  #registerImage>img {
    width: 4vmax;
    height: 4vmax;
    border-radius: 60%;
  }

  .eyeicon {
    position: absolute;
    transform: translateY(-50%);
    color: #999;
    font-size: large;
  }

  .eyesicon {
    position: absolute;
    right: 1.5rem;
    transform: translateY(-50%);
    color: #999;
    font-size: large;
  }

  .icon {

    left: 25px;
    color: #999;
    font-size: 19px;
  }

  @media screen and (max-width: 300px) {
    .icon {
      color: #999;
      font-size: 19px;
    }
  }

  @media screen and (max-width: 790px) {
    .icon {
      position: absolute;
      color: #999;
      left: 20px;
      font-size: 19px;
    }

    .eyeicon {
      top: 50%;
    }
  }
}