.heade{
    width:100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 20px #000;
    background: rgba(15, 14, 14, 0.7);
}
.heade .logo{
    /* flex: 1; */
    color:#fff;
    display: flex;
    gap:10px;
    margin-left: 25px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
.heade ul {
   
    display: flex;
    justify-content: space-evenly;
} 
.heade ul li{
    list-style: none;
}
.heade ul li a{
    text-decoration: none;
    color:#fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}
.heade .links{
width: 70%;
right: 80px;
}
.heade ul li a:hover{
    color: cadetblue;
    border-bottom: 2px solid cadetblue;
}
.mobile{
    display: none;
    padding-right: 30px;
}
.icons{
    font-size: 30px;
    color: rgb(10, 117, 117);
}
.img{
    height: 120px;
    width: 120px;
    overflow: hidden;
    left:-2%;
    display: flex;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-items: center;
}
 .Image{
   width: 90px;
   height: 90px;
  
}
.loggins{
    height: 20px;
    background-image: linear-gradient(-180deg,rgb(60, 154, 159), rgb(25, 69, 71));
    border-radius: 10px;
}
.loggins:hover{
    background-image: linear-gradient(-180deg, rgb(25, 69, 71),rgb(60, 154, 159));
}
@media(max-width:1000px){
    /* .heade{
        display: flex;
    } */
    .mobile{
        
        display: block;
        /* padding-right: 20px; */
        right: 10px;
    }
    .search-box button{
        position: absolute;
    }
   .nav{
        position: fixed;
        top:100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
   
   .navactive{
    backdrop-filter: blur(10px);
        position: fixed;
        top:90px;
        right: 0px;
        backdrop-filter: 200px;
        background: rgba(0,0,0,0.5);
        /* height: calc(100vh -100px); */
        height: 100vh;
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    .heade .logo{
        /* flex: 1; */
        color:#fff;
        display: flex;
        gap:0px;
        margin-left: 0px;
        text-transform: uppercase;
        align-items: center;
        font-size: .7rem;
    }
     .logo h1{
        display: none;
     }
     .Image{
        width: 80px;
        height: 80px;
       
     }
     .img{
        height: 150px;
        width: 150px;
       padding-left: 5px;
    }
  
}
/* for sidebar */
