header{
    width:100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
    box-shadow: 0 0 20px #000;
    background: rgba(8, 6, 6, .7);
}
#chk1{
    display: none;
}
i{
    color: #fff;
    cursor: pointer;
}
header .logo{
    /* flex: 1; */
    color:#fff;
    display: flex;
    gap:10px;
    margin-left: 25px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
header ul {
    flex:2;
    display: flex;
    justify-content: space-evenly;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color:#fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}

header ul li a:hover{
    border-bottom: 2px solid cadetblue;
}
.mobile{
    display: none;
    padding-right: 30px;
}
.icon{
    font-size: 30px;
}
.img{
    height: 150px;
    width: 120px;
    overflow: hidden;
    left:-2%;
    display: flex;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-items: center;
}
 .Image{
   width: 100px;
   height: 100px;
  
}
@media(max-width:1000px){
    .mobile{
        display: block;
        padding-right: 20px;
    }
    .search-box button{
        position: absolute;
    }
   .nav{
      
        position: fixed;
        top:100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
   .navactive{
    backdrop-filter: blur(10px);
        position: fixed;
        top:90px;
        right: 0px;
        backdrop-filter: 200px;
        background: rgba(0,0,0,0.5);
        /* height: calc(100vh -100px); */
        height: 100vh;
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
    #chk1:checked ~ ul{
        right: 0;
        
    }
    header .logo{
        /* flex: 1; */
        color:#fff;
        display: flex;
        gap:0px;
        margin-left: 0px;
        text-transform: uppercase;
        align-items: center;
        font-size: .7rem;
    }
  
}
/* for sidebar */
